.logContainer {
  padding: 2rem 2rem;
}
.logContainer form {
  display: flex;
  flex-direction: column;
}
.logContainer label {
  visibility: hidden;
}
.logContainer input {
  position: relative;
  text-align: center;
}
.logIcon {
  position: absolute;
  top: 0;
}
.signContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signButton {
  text-align: center;
}
